<!DOCTYPE html>
<html lang="hu" class="h-100">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="noindex, nofollow, noarchive">

    <title>{% block page_title %}{% endblock %} - tinyIPAM</title>

    {% block includes %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

</head>
<body class="d-flex flex-column">

    {% block dialogs %}{% endblock %}


    {% include 'modules/navbar.html' %}

    <main>
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h1>{{ self.page_title() }}</h1>
                </div>
            </div>

            {% include 'modules/messages.html' %}

        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>


    <footer class="py-2 bg-dark text-white-50">
        <div class="container text-center">
            Hello world
        </div>
    </footer>

</body>
</html>