{% extends "modules/base.html" %}

{% block page_title %}Domains{% endblock %}

{% block includes %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/dns_zones.js') }}"></script>
{% endblock %}

{% block dialogs %}
<div class="modal fade" id="newDNSZoneDialog" tabindex="-1" role="dialog" aria-labelledby="newDNSZoneDialogTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newDNSZoneDialogTitle">New DNS zone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newDNSZoneForm" method="POST" action="{{ url_for('DNSZoneView:post') }}">
                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="tld">Name</label>
                        <div class="col-9">
                            <input id="tld" name="tld" type="text" aria-describedby="tldHelpBlock"
                                   required="required" class="form-control">
                            <span id="tldHelpBlock" class="form-text text-muted">
                                TLD of the zone
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="newDNSZoneForm">Create zone</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-12 text-right">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newDNSZoneDialog">
            <i class="fa fa-plus"></i> New zone
        </button>
    </div>
</div>


<div class="row my-4">
    <div class="col-12">


        <table class="table table-hover ">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Record count</th>
                <th scope="col">Labels</th>
            </tr>
            </thead>
            <tbody>
                {% for zone in zones %}
                <tr>
                    <td><input type="checkbox" value="{{ zone.id }}"></td>
                    <td><a href="{{ url_for('DNSZoneView:get', id=zone.id) }}">{{ zone.tld }}</a></td>
                    <td>{{ zone.records|length }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>

</div>

{% endblock %}
